.BoardBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width:200px;
    height:200px;
    font-size: 50px;
    color:#006d77;
    background-color: #edf6f9 ; 
    margin:10px;
    border-radius: 15px;
    border:none;
    /* border: 1px solid #ff8906; */
}