.btn {
    padding: 12px 16px;
    margin-top: 18px;
    font-size: 20px;
    color: black;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }